.banner{
    width: 1140px;
    height: 402px;
    border-radius: 28px;
    background-color: #FFFFFF0D;
    margin: 0 auto;
    margin-bottom: 80px;

    h1{
        width: 779px;
        height: 43px;
        font-weight: 700;
        font-size: 42px;
        color: aliceblue;
        margin-top: 75px;
        margin-left: 54px;
    }

    p{
        width: 507px;
        height: 96px;
        font-weight: 600;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0%;
        margin-left: 54px;
        color: aliceblue;
    }
}

.inputt-container {
    background-color: #FFFFFF1A;
    width: 661px;
    height: 64px;
    border-radius: 14px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px); 
border: 0.1px solid rgba(255, 255, 255, 0.132);
margin-left: 54px;
}

 input {
    width: 369px;
    height: 44px;
    border-radius: 8px;
    background: transparent;
    border: none;
    outline: none;
    padding: 10px;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
 
   
    &::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }
}
.inputt-container  button {
    background: #279D88;
    border: none;
    color: white;
    font-size: 16px;
    width: 122px;
    height: 40px;
    border-radius: 70px;
    cursor: pointer;
    transition: 0.3s;
   margin-left: 110px;
    &:hover {
    box-shadow: 0px 4px 16px 0px #00FFA342;
        ;

    }
}